github "ReactiveX/RxSwift" ~> 5.0.1
github "RxSwiftCommunity/RxOptional" ~> 4.0.0
github "RxSwiftCommunity/RxFlow" ~> 2.3.0
github "ReactorKit/ReactorKit" ~> 2.0.1
github "CocoaLumberjack/CocoaLumberjack" ~> 3.5.3
github "AliSoftware/Reusable" ~> 4.0.1
github "SwiftyJSON/SwiftyJSON" ~> 5.0.0
github "RxSwiftCommunity/RxDataSources" ~> 4.0.0
github "SnapKit/SnapKit" ~> 5.0.0
github "Moya/Moya" ~> 14.0.0-alpha.1
github "pixeldock/RxAppState" ~> 1.5.1
github "adamwaite/Validator" ~> 3.2.1 
github "kishikawakatsumi/KeychainAccess"
github "devxoul/Toaster"
github "thii/FontAwesome.swift"
