//
//  waosSwift.xcconfig
//  waosSwift
//
//  Created by pierre brisorgueil on 22/03/2021.
//  Copyright © 2021 WeAreOpenSource. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

DISABLE_DIAMOND_PROBLEM_DIAGNOSTIC=YES
